<header class='header'>
  <div class='container'>
    <div class='header-content'>
      <a href="/"><img src='/img/logo.jpg' alt='s21_logo' class='header-logo' /></a>
      <div class='title'>
        <h1>Restaurant</h1>
        <span>Copyright stonehom&copy; 2023</span>
      </div>
      <nav class='nav header-nav'>
        <ul class='nav-list'>
          <li class='nav-list-item'>
            <a href='/' aria-current="page">
              Main
            </a>
          </li>
          <li class='nav-list-item'>
            <a href='/orders'>
              Orders
            </a>
          </li>
          <li class='nav-list-item'>
            <a href='/menu'>
              Menu
            </a>
          </li>
        </ul>
      </nav>
      <button class='btn' id='logout-btn'>Logout</button>
    </div>
  </div>
</header>