html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  min-width: 320px;
  min-height: 100vh;
  margin: 0;

  font-family: sans-serif;
  font-weight: 400;

  gap: 1em;
}

.container {
  max-width: 320px;
  padding: 1em;

  text-align: center;

  border-radius: 10px;
  background-color: #1de7dd;
}
.display {
  display: flex;
  align-items: center;
  justify-content: start;

  border-radius: 3px;
  background-color: #fff;
}
